<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pr.sna.snaprkit"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- SnaprKitFX: Minimum SDK version, required -->
    <uses-sdk android:minSdkVersion="8" />

    <application>
        <!-- SnaprKitFX: Activities, required -->
        <activity
            android:name="pr.sna.snaprkit.SnaprImageEditFragmentActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
        </activity>
    </application>

</manifest>