<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="pr.sna.snaprkitfx"
	android:versionCode="1"
	android:versionName="1.0" >

	<!-- SnaprKitFX: Minimum SDK version, required -->
	<uses-sdk android:minSdkVersion="8" />

	<application android:theme="@style/Application.Theme" >

		<!-- SnaprKitFX: Activities, required -->
		<activity
			android:name="pr.sna.snaprkitfx.SnaprImageEditFragmentActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait"
			android:theme="@style/Application.Theme.NoTitleBar" />
	</application>

</manifest>